.blogpost {
  display: flex;
  flex-direction: column;
  background-color: #5B7E93;
  padding: 10px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 175px;
}

@media(min-width:450px){
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

@media(min-width:900px){
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}
