.sidebar{
  grid-area:sd;
  background-color: #232526;
}
#coresideitems {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.coresideitem {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: large;
}
#blogposts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.blogpostlink {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: large;
}
.coresideitem:hover {
  background-color: #555;
}
.blogpostlink:hover {
  background-color: #555;
}
