.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 600px;
    grid-template-areas:
    "sd hd hd hd hd hd hd hd"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px #680E4B;
    font-family: monospace;
}
.box{
  /* border: 1px solid #680E4B; */
  background: #2F3437;
  color: white;
  }
.header{
  grid-area:hd;
  padding: 10px;
}
.footer{
  grid-area:ft;
  padding: 10px;
}
.sidebar{
  grid-area:sd;
  background: #373C3F;
}
.content{
  grid-area:main;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  /* color: #000; */
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
}

/* If Screen Is Wide Enough */
/* @media(min-width:900px){
.container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
  }
} */
